.center{
  text-align: center;
}
.mrg-t-30{
  margin-top: 30px;
}
.mrg-b-30{
  margin-bottom: 30px;
}

.red{
  color: #E12523;
}

p{
  font-size: 120%;
}

.jumbotron{
  border: 2px solid black;
}

.grey{
  color: grey;
}
