<section class="center">
  <%= image_tag asset_path('hsbc.png'), class: 'center' %>
</section>
<section>
  <div class="container mrg-t-30">
    <div class="center">
      <h2>Bienvenue sur cet site HSBC</h2>
  </div>
</section>
